/* base styles */
h1, h2, h3 {
    font-family: 'Pacifico', cursive;
    font-weight: normal;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 20px;
}

body {
    text-align: center;
    background-image: radial-gradient(circle, #FFFFFF, #FFF5ED);
    color: #696868;
}

#body-content {
    padding: 100px 0;
}
/* end base styles */

/* header styles */
header {
    margin: 25px;
    clear: both;
    text-align: left;
}

img.logo {
    padding-left: 50px;
}

#user-profile {
    float: right;
    margin-right: 65px; 
    margin-top: 66px;
}

#user-profile a {
    color: #696868;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}

a:hover {
    color: black;
}

/*end header styling*/

/*homepage styling*/
div.no-rav-account button {
    font-size: 30px;
}

#homepage {
    display: block;
    clear: both;
}
/*end homepage styling*/

/*search page*/
#root {
    text-align: center;
    color: #696868;
    font-family: 'Pacifico', cursive;
    font-size: 45px;
}

#seach-types {
    display: inline-block;
}
/*end search page specific styling*/

/*button styling*/
button {
    background-color: #FE1F69;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    border: 5px solid #B61846;
    box-shadow: 3px 1px 3px #B61846;
    font-family: 'Pacifico', cursive;
    font-size: 45px;
    color: #FFFFFF;
    align-content: center;
    margin: 26px;
    cursor: pointer;
}

.search-data {
    font-size: 30px;
}
/*end button styling*/

/*input styling*/
label {
    font-family: 'Pacifico', cursive;
    font-size: 45px;
}

input[type=text] {
    border: 1px solid #979797;
    border-radius: 10px; 
    padding-left: 20px;
    width: 400px;
    height: 60px;
    margin-left: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    color: #979797;
    box-shadow: 2px 0px 3px #979797;
}

select {
    border: 1px solid #979797;
    border-radius: 10px; 
    width: 400px;
    height: 60px;
    margin-left: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}

input[type=submit] {
    background-color: #FE1F69;
    width: 150px;
    height: 59px;
    border-radius: 10px;
    cursor: pointer;
    border: 5px solid #B61846;
    box-shadow: 3px 1px 3px #B61846;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    color: #FFFFFF;
    align-content: center;
    margin: 26px;
}
/*end input styling*/

/*pattern styling*/
#search-results {
    margin: 0 100px;
}

.pattern-card {
    width: 220px;
    height: 300px;
    margin: 25px;
    border-radius: 5px;
    background-color: #FFFFFF;
    float: left;
    display: inline-block;
    box-shadow: 2px 1px 3px #979797; 
    overflow: hidden;
}

div.pattern-card img {
    height: 250px;
    padding: 0;
    margin: 0;
    border-radius: 5px 5px 0 0;
}

div#search-results a {
    color: #979797;
    font-size: 20px;
    padding: 0;
    margin: 0;
}
/*end pattern styling*/

/*donut chart*/
.donut-chart {
  width: 710px;
  height: 355px;
  padding: 0;
  margin: 0;
  display: inline-block;
  float: left;  
}

.donut-chart h1, h2 {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.donut-chart canvas {
  margin: 20px 0;
}