{% extends 'base.html' %}

{% block title %} Homepage {% endblock %}
{% block head %}
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
<div id="homepage">
  <h1>Do you have a Ravelry Account?</h1>
  <button name="rav-account" id="yes-button">Yes</button>
  <button name="rav-account" id="no-button">No</button>
  <div id="no-rav-account" hidden>
    <h2>Please sign up for a Ravelry account here:</h2> 
    <a href="https://www.ravelry.com/" target="_blank">
      <button>Ravelry</button>
    </a>
  </div>
</div>

<script src="static/homepage.js"></script>
{% endblock %}