{% extends 'base.html' %}
{% block title %} User Data {% endblock %}
{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
{% endblock %}
{% block header %}
<div id="user-profile">
  <a href="/{{ session['username'] }}">
    {{ session['username'] }}
  </a>
</div>
{% endblock %}
{% block body %}
  <div class="donut-chart">
    <h1>Your Projects</h1> 
    <h2>(By Percent)</h2>
    <canvas id="patternChart"></canvas>
  </div>

  <div class="donut-chart">
    <h1>Your Project Progress</h1>
    <h2>(By Percent)</h2>
    <canvas id="completionChart"></canvas>
  </div>
{% endblock %}

{% block footer %}
  <script>
    const options = {
      'responsive': true,
      'aspectRatio': 2,
      'legend': {
        'position': 'right',
        'labels': {
          'boxWidth': 40,
          'fontSize': 20, 
          'padding': 20
        }
      }
    };

    let ctx_donut = $("#patternChart").get(0).getContext("2d");
    $.get("/pattern-types.json", function (data) {
      let myDonutChart = new Chart(ctx_donut, {
                                              type: 'doughnut',
                                              data: data,
                                              options: options
                                            });
    });

    let ctx_donut2 = $("#completionChart").get(0).getContext("2d");
    $.get("/completion-status.json", function (data) {
      let myDonutChart = new Chart(ctx_donut2, {
                                              type: 'doughnut',
                                              data: data,
                                              options: options
                                            });
    });
  </script>
{% endblock %}